In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [3]:
emp_info = {"Tom":{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
            'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print(emp_info['Kathy'])
print(emp_info['Tom']['email'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}
tom_latham019@gmail.com

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [9]:
a =  {'emp1':{'e_name':'John','e_id':'SG101', 'e_sal' :'$10,000'},
     'emp2':{'e_name':'Smith','e_id':'SG102', 'e_sal' :'$9,000'},
     'emp3':{'e_name':'Peter','e_id':'SG103', 'e_sal' :'$9,500'}}
print(a)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [18]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print((sampleDict)['class']['student']['marks']['history'])

80

In [ ]:
#itialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000},
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [19]:
a = {'Kelly': {'designation': 'Application Developer', 'salary': 8000},
     'Emma': {'designation': 'Application Developer', 'salary': 8000},
     'John': {'designation': 'Application Developer', 'salary': 8000}}
print(a)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [ ]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [22]:
from collections import Counter
a = 'google.com'
list = []
for i in a:
    list.append(i)
print(list)
b = Counter(a)
print(dict(b))

['g', 'o', 'o', 'g', 'l', 'e', '.', 'c', 'o', 'm']
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [24]:
from collections import Counter
a = "CTATCGGCACCCTTTCAGCA"
list = []
for i in a:
    list.append(i)
# print(list)
b = Counter(a)
print(dict(b))

{'C': 8, 'T': 5, 'A': 4, 'G': 3}

In [6]:
from collections import Counter
a = "AGT"
list = []
for i in a:
    list.append(i)
# print(list)
b = Counter(a)
b.setdefault("c",0)
print(dict(b))

{'A': 1, 'G': 1, 'T': 1, 'c': 0}

In [7]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

In [9]:
d = {}
d.setdefault("Name","Tom")
print(d)

{'Name': 'Tom'}

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [10]:
d = {"a":1, "b":2}
d.values()

dict_values([1, 2])

In [19]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

In [ ]:
 3. d = { ["First", "Last"]: (1,3) }

In [ ]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [ ]:

# b=dict(zip(ini_dict.values(), ini_dict.keys()))

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [5]:
# from collections import Counter
a = [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
d = {}
i = 0
while i<len(a):
    if a[i] != 0:
        d.setdefault(i,a[i])
    else:
        pass
    i = i+1
print(d)

{0: 1, 3: 2, 7: 3, 12: 4}

In [6]:
# from collections import Counter
a = [1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]
d = {}
i = 0
while i<len(a):
    if a[i] != 0:
        d.setdefault(i,a[i])
    else:
        pass
    i = i+1
print(d)

{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [7]:
# from collections import Counter
a = [0, 0, 0, 0, 0]
d = {}
i = 0
while i<len(a):
    if a[i] != 0:
        d.setdefault(i,a[i])
    else:
        pass
    i = i+1
print(d)

{}

In [ ]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [2]:
a =  {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
a['emp3']['salary'] = 8500
print(a)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [12]:
a = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
b = (max(a,key=a.get))
c = (min(a,key=a.get))
for i in a:
    if i != b and i != c:
        print(i)

history

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

In [14]:
a={
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
a.pop("city")
a.setdefault("location",'New york')
a

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [16]:
a = {'a': 100, 'b': 200, 'c': 300}
print(200 in a.values())

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [20]:
a = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
print((a.pop("salary")))
print(a)

8000
{'name': 'Kelly', 'age': 25, 'city': 'New york'}